[Unit]
Description=SoundwebMQTT
Wants=network.target
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/ccc/soundweb-mqtt/bin/sndmqtt -b mqtt.local -s /dev/ttyUSB0 -t v1/mainhall/soundweb
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
